table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}


.container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

div.container h2{
    color: #02dda6;
    display: flex;
}

div.container form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: #007054;
}

div.container label{
    margin: 0.1em;
    color: #007054;
}

div.container form input{
    padding: 0.5em;
    margin: 0.1em;
    color: #007054;
}

div.container form input:hover{
    padding: 1em;
    color: #02dda6;
}

div.container input[type="submit"] {
    border: none;
}

div.container input[type="submit"]:hover {
    opacity: 0.5;
}

div.container select {
    padding: 0.5em;
    margin: 0.1em;
}

div.container a{
    color: #007054;
    align-items: center;
    justify-content: center;
    padding: 1em;
    display: flex;
    text-decoration: none;
}

div.container a:hover {
    opacity: 0.5;
}

div.container table{
    background-color:#9cf3f3;
}

div.container table th{
    background-color: #007054;
}
